.Form {
	width: 100%;
}

.Group {
	width: 100%;
	margin-bottom: 20px;
}

.Group label {
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
}

.Group input {
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px;
	transition: border-color 200ms linear;
}

.Group input:focus {
	border-color: #560bad;
}
